html {
  height: 100%;
}
body {
  position: relative;
  padding-bottom: 75px;
  min-height: 100%;
}
.center {
  text-align: center;
}
.section_inner {
  padding: 50px 10% 30px;
}
.section_title {
  font-family: "Noto Serif JP", serif;
  text-align: center;
  margin-bottom: 50px;
}
li {
  list-style: none;
}
p,
ul {
  margin: 0;
  padding: 0;
}
div,
li {
  box-sizing: border-box;
}
.header_nav {
  background: linear-gradient(90deg, #fff 20%, rgba(0, 0, 0, 0.6) 60%);
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
  width: 100%;
}
.global_nav_item {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.global_nav_item:hover {
  background: #fff;
  color: #42210b;
}
.global_nav {
  display: flex;
  align-items: stretch;
}
.logo {
  width: 120px;
  display: flex;
  align-items: center;
}
.logo img {
  width: 100%;
}

.contact {
  width: 100%;
  margin-bottom: 30px;
}
.contact_line {
  height: 50px;
  line-height: 50px;
}
.contact_sign {
  width: 25%;
  background: #beb9b7;
  border: solid 1px #beb9b7;
  text-align: left;
  padding: 0 20px;
}
.contact_input {
  width: 75%;
  border: solid 1px #beb9b7;
}
.contact_content {
  height: 100px;
}
.contact_input input,
select,
textarea {
  border: none;
  width: 99%;
}
.contact_input input,
select {
  height: 50px;
}
.contact_input textarea {
  height: 100px;
}
.personal_information {
  background: #e6e6e6;
  padding: 10px;
  height: 100px;
  overflow: scroll;
  margin-bottom: 20px;
}
.contact_btn_area {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.contact_btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
.contact_btn + .contact_btn {
  margin-left: 10px;
}
.submit_btn {
  background: #9852a5;
  color: #fff;
  width: 100px;
  height: 35px;
}
.reset_btn {
  background: #e6e6e6;
  width: 150px;
  height: 35px;
}
.alert {
  color: #fff;
  padding: 20px;
  background: #d14539;
}
footer {
  background-color: hsl(25, 19%, 12%);
  height: 75px;
  width: 100%;
  color: #fff;
  margin: auto;
  padding-top: 15px;
  position: relative;
  bottom: -75px;
}

footer nav ul {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

footer nav ul a {
  text-decoration: none;
  align-items: center;
  margin-right: 10px;
  color: #fff;
}
footer nav ul a li {
  list-style: inside;
}

footer p {
  text-align: center;
}

footer nav ul a img {
  width: 55px;
  height: 20px;
}
.alert_bg {
  background-color: rgba(230, 169, 171, 0.5);
}
